/*global style*/
/*
#a4c2d1;
#dbcde;
#1f7798;
#184f63;
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:"Poppins",sans-serif;
    background-color: #a4c2d1;
}
h1,h2{
    font-family:"DM Serif Display",serif;
    color: #184f63;
}
#about{
    background-color: white;
}
#portfolio{
    background-color: #dbdcde;
}
#portfolio .card-title{
    color: #1f7798;
    font-size: 1.2rem;
}
#portfolio .btn-outline-secondary:hover{
    background-color: #1f7798;
}
#portfolio .card-text{
    min-height: 120px;
}
#contact{
    background-color: white;
}
#hero{
    background-color:#dbdcde;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-position: 50% 70%;
    min-height:500px;
    padding: 5% 7%;
}
/*media query*/
/*Use bootstrap breakpoint for extra large screens*/
@media screen and (min-width:1200px) {
   /*Fixes all portfolio cards being too tall on x1 screens*/ 
   #portfolio .card-text{
    min-height: auto;
   }
    
}
